<p id="notice"><%= notice %></p>

<p>
  <strong>Orderitem:</strong>
  <%= @style.OrderItem %>
</p>

<p>
  <strong>Cuff:</strong>
  <%= @style.cuff %>
</p>

<p>
  <strong>Collar:</strong>
  <%= @style.collar %>
</p>

<p>
  <strong>Fit:</strong>
  <%= @style.fit %>
</p>

<p>
  <strong>Length type:</strong>
  <%= @style.length_type %>
</p>

<p>
  <strong>Contrastcollarcuff:</strong>
  <%= @style.contrastCollarCuff %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
