<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @address.Customer %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @address.address_1 %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @address.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @address.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
