
<% if !@order.shipping_address_id.nil? && !@order.billing_address_id.nil?%>

<%= form_tag :controller=>'customer_flow',:action=>'update_addresses', method: :post do  %>
      


<div id="shipping_form" style="display:block;">
          <%= fields_for :shipping_address do |sa|  %>              
        <%= sa.text_field :address1 %>
        <%= sa.text_field :address2 %>
        <%= sa.text_field :city %>
        <%= sa.text_field :state_code%>
        <%= sa.text_field :postal_code %>
        <%= sa.text_field :country_code%>
        <%end%>


</div>
  Use Same Address  : <%= check_box_tag "order[bill_to_shipping_address]"%>
<div id="billing_address" style="display:block;">
<%= fields_for :billing_address do |ba|  %>              
       <%= ba.text_field :address1 %>
        <%= ba.text_field :address2 %>
        <%= ba.text_field :city %>
        <%= ba.text_field :state_code %>
        <%= ba.text_field :postal_code%>
        <%= ba.text_field :country_code %>
        <%end%>
  </div>

    <div class="actions">
      <%= submit_tag "Next"%>
    </div>
<% end %>

<% end %>



<script type="text/javascript">
  var checkbox = document.getElementById('order_bill_to_shipping_address');
  var details_div = document.getElementById('billing_address');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'none';
     } else {
       details_div.style['display'] = 'block';
     }
  };
    </script>


