<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Customer:</strong>
  <1%= @measurement.Customer %>
</p> -->
<% if @customer.measurement.nil?%>
<%= form_for(@measurement) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% @measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :chest %><br>
    <%= f.text_field :chest %>
  </div>
  <div class="field">
    <%= f.label :neck %><br>
    <%= f.text_field :neck %>
  </div>
  <div class="field">
    <%= f.label :waist %><br>
    <%= f.text_field :waist %>
  </div>
  <div class="field">
    <%= f.label :hip %><br>
    <%= f.text_field :hip %>
  </div>
  <div class="field">
    <%= f.label :shirt_length %><br>
    <%= f.text_field :shirt_length %>
  </div>
  <div class="field">
    <%= f.label :sleeve_length %><br>
    <%= f.text_field :sleeve_length %>
  </div>
  <div class="field">
    <%= f.label :back %><br>
    <%= f.text_field :back %>
  </div>
  <div class="field">
    <%= f.label :wrist %><br>
    <%= f.text_field :wrist %>
  </div>
  <div class="field">
    <%= f.label :sleeve_width %><br>
    <%= f.text_field :sleeve_width %>
  </div>
  <div class="field">
    <%= f.label :shoulder_type %><br>
    <%= f.text_field :shoulder_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%else%>


<p>
  <strong>Chest:</strong>
  <%= @measurement.chest %>
</p>

<p>
  <strong>Neck:</strong>
  <%= @measurement.neck %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @measurement.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @measurement.hip %>
</p>

<p>
  <strong>Shirt length:</strong>
  <%= @measurement.shirt_length %>
</p>

<p>
  <strong>Sleeve length:</strong>
  <%= @measurement.sleeve_length %>
</p>

<p>
  <strong>Back:</strong>
  <%= @measurement.back %>
</p>

<p>
  <strong>Wrist:</strong>
  <%= @measurement.wrist %>
</p>

<p>
  <strong>Sleeve width:</strong>
  <%= @measurement.sleeve_width %>
</p>

<p>
  <strong>Shoulder type:</strong>
  <%= @measurement.shoulder_type %>
</p>

<%end%>
   <%= button_to 'Billing & Shipping', customer_flow_cart_checkout_billing_shipping_path %>
